:host {
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.73rem;
  margin-top: 1.5rem;
  path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }

  a:hover svg path {
    fill: var(--gray-900);
  }
}
