<div class="footer">
    <p>footer works!</p>

    <section>
        <a href="https://angular.io" aria-label="Angular" target="_blank" rel="noopener">
            <img src="assets/angular-logo.svg" alt="Angular" />
        </a>
        <a href="https://material.angular.io" aria-label="Angular Material" target="_blank" rel="noopener">
            <img src="/src/assets/svg/GithubIcon.svg" alt="Angular Material" />
        </a>
    </section>
  <app-social-media-links></app-social-media-links>
</div>